<div>
<a routerLink="/" routerLinkActive="active"><button mdbRipple type="button" class="btn-close "></button></a>

<div class="   d-flex align-items-center justify-content-center"
style="height: 100vh;">

<div class="card">
<div class="card-body">
<div *ngIf="!loggedIn; else elseBlock">
<h1 class="card-title">Login to Spotify</h1>
<p class="card-text">
      You have to have Spotify premium to be able to DJ on this site.
    </p>

    <div>
<a href="https://accounts.spotify.com/authorize/?response_type=token&client_id=5a82eddfce2b46be8e7ec5b826a7ae51&scope=user-read-currently-playing%20streaming&redirect_uri=http://127.0.0.1:4200/"><button mdbRipple type="button" class="btn btn-primary">Login to Spotify</button></a>
<!-- This button will not be nesscary I just created to see the concept -->
<button (click)="clickFakeLogin()" class="btn btn-secondary sticky-top">Fake Login</button>
<!-- This button ^^^  -->
</div>
<div>

</div>
</div>


<ng-template #elseBlock>
<h1 class="card-title">Create a Room</h1>
<form>
<div>
    <label>Enter a title for the room: </label>
    </div>
<div>
    <input type="text" />
    </div>
<div>
    <button class="btn btn-danger"> Create Room</button>
    </div>
</form>
<!-- This button will not be nesscary I just created to see the concept -->
<button (click)="clickFakeLogin()" class="btn btn-secondary">Fake Back Button</button>
<!-- This button ^^^  -->

</ng-template>



</div>
</div>
</div>
</div>