<div style="background-color: wheat; text-decoration-color: crimson;" >
<a routerLink = "/" routerLinkActive="Active"><button class="btn btn-danger">BACK</button></a>
<div class="   d-flex align-items-center justify-content-center"
style="height: 100vh;">
<form style="text-align: center">
    <h2>ABOUT US</h2><br><br>
    <p style="font-size: 1.5em">DJAmplifire is an online club for users to host their own jam session or join in others’ fun. A DJ can host a room and have administrative authority over their own session and Guests can enter existing rooms and listen together. DJAmplifire is safe and simple! Only the DJ and their guests will have access to the room they create. The music player in the browser is working with the Spotify API, connecting through the DJ’s spotify account and accessing the DJ’s playlists. Frequent listeners will always have their favorite songs available, since all users can create accounts that save their preferences.</p>
</form>
</div>
</div>


