<div class="  border d-flex align-items-center justify-content-center"
style="height: 100vh;">
<div >
<div>
<h1
data-mdb-toggle="animation"
data-mdb-animation="glow"
data-mdb-animation-start="onLoad"
>Welcome to DJAmplifire!!!</h1>

<button mdbRipple type="button" class="btn btn-secondary">Join Room</button>
<button mdbRipple type="button" class="btn btn-danger">Create Room</button>
<p> </p>


<div>
<a href="https://accounts.spotify.com/authorize/?response_type=token&client_id=5a82eddfce2b46be8e7ec5b826a7ae51&scope=user-read-currently-playing%20streaming&redirect_uri=http://127.0.0.1:4200/"><button mdbRipple type="button" class="btn btn-primary">Login to Spotify</button></a>
</div>
</div>
</div>
</div>