

<div class="bg-dark" style="height:100vh;">
<div class=" pt-5 text-center">

<h1
[@slideIn] = "test ? 'close': 'close'"
class=" pt-5 text-center"
style="color: purple;"
><i class="fas fa-headphones" style="color: purple;"></i> DJ AMPLI<i class="fas fa-fire" style="color: red;"></i></h1>
</div>


<div class="   d-flex align-items-center justify-content-center"
style="height: 60vh;">
<div >
<div>


<button  mdbRipple type="button" class="btn me-5 btn-secondary" >Join Room</button>
<a routerLink="/create-a-room" routerLinkActive="active"><button mdbRipple type="button" class="btn btn-danger" >Create Room</button></a>
<p> </p>


<div>

</div>
</div>
</div>
</div>
</div>