<app-webplayer [token]="room.roomToken"></app-webplayer> <!-- Example of Server-side rendering... making a call to an API as opposed to the MVC pattern delivering an entire HTML document -->
<div>
  <div *ngIf="!host; else elseBlock" class="bg-dark">
    <h1 class="text-center text-light">{{ room.roomTitle }}</h1>
    <div
      class="d-flex align-items-center justify-content-center"
      style="height: 100vh"
    >
      <div class="card">
        <div class="card-body">
          <h2>{{ currentSong.name }}</h2>
          <h3>{{ currentSong.artist }}</h3>
          <p>{{ currentSong.album_name }}</p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div style="background-color: purple">
      <h1 class="text-center text-light">DJ {{ room.roomTitle }} DJ</h1>
      <div
        class="d-flex align-items-center justify-content-center"
        style="height: 100vh"
      >
        <div>
          <div class="card">
            <div class="card-body">
              <h2>{{ currentSong.name }}</h2>
              <h3>{{ currentSong.artist }}</h3>
              <p>{{ currentSong.album_name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
