<app-webplayer [token]="room.roomToken"></app-webplayer>
<!-- Example of Server-side rendering... making a call to an API as opposed to the MVC pattern delivering an entire HTML document --><!--  -->
<div>
  <div *ngIf="!host; else elseBlock" class="bg-dark">
    <h1 class="text-center text-light">{{ room.roomTitle }}</h1>
    <div
      class="d-flex align-items-center justify-content-center"
      style="height: 100vh"
    >
      <div class="card">
        <div class="card-body">
          <h2>{{ currentSong.name }}</h2>
          <h3>{{ currentSong.artist }}</h3>
          <p>{{ currentSong.album_name }}</p>
          <!-- TODO: Pause, Play, Skip Buttons -->
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div style="background-color: purple">
      <h1 class="text-center text-light">DJ {{ room.roomTitle }} DJ</h1>
      <div
        class="d-flex align-items-center justify-content-center"
        style="height: 100vh"
      >
        <div>
          <div class="card" style="height: 500px; width: 500px">
            <div class="card-body">
              <h2>{{ currentSong.name }}</h2>
              <h3>{{ currentSong.artist }}</h3>
              <p>{{ currentSong.album_name }}</p>
              <!-- TODO: Pause, Play, Skip Buttons -->
              <label>REMOTE</label><br /><br />
              <button class="btn btn-primary" (click)="pause()">||</button
              ><br /><br />
              <!-- <label>Play</label><br> -->
              <button class="btn btn-warn" (click)="play()">play</button
              ><br /><br />
              <!-- <label>Skip</label><br> -->
              <button class="btn btn-primary mat-raised-btn" (click)="skip()">
                >></button
              ><br /><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
